{% extends "accounts/header.html" %}

{% block content %}
<!-- Highlights -->
{% load static %}
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Services</h2>
						<p>We provide comprehensive mobile services at your door steps. </p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Door Step Mobile Repair</h3>
								</header>
								<p>In-depth analysis and transparent market comparisons to provide you with best options as per your requirements.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Investment options</h3>
								</header>
								<p>Help you in choosing the best investement option for you which lets you rest and your money do the work for you. </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Insuarance comparisons</h3>
								</header>
								<p>Help you in choosing best investment option for you and your loved ones.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>About Us</h2>
					<p>We are a team of individuals involved in the financial market for past 20 yeards and are well equipped to handle and predict any ups and down in the same.
									
				</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Customer testimonials</h2>
						<p>Hear what our long list of delighted and satisfied customers have to say. Individuals and companies</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{% static 'personal/images/pic01.jpg' %}" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{% static 'personal/images/pic03.jpg' %}" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="{% static 'personal/images/pic02.jpg' %}" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>
{% endblock %}